* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /*Adds smooth scrolling instead of snapping to element*/
}

.Homepage {
    background: linear-gradient(292.45deg, #7f197c 0%, #3b3b9a 98.67%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(-180deg);
}

.Header {
}

.InputFiledHeaderText__slim {
    font-weight: 400;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    .InputFiledHeaderText__slim {
        display: block;
    }

    .test_line::before {
        display: none;
    }
    .step-line-pc:before {
        display: none;
    }
    .step_ios:before {
        display: none;
    }
}

.BottomData__blueHiglight {
    background-color: rgba(105, 201, 208, 0.4);
}

.BottomData__redHighlight {
    background-color: rgba(238, 29, 82, 0.3);
}

.Footer__PolicyTabs {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 63px;
    /* identical to box height, or 262% */

    color: #000000;
}

.VideoPlayer__Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.VideoPlayer__Wrapper__Play {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    justify-content: center;
    display: flex;
}

.VideoPlayer__Wrapper__Play:hover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.VideoPlayer__Wrapper__Image {
    z-index: 1;
}

.VideoPlayer__Wrapper__Image:hover {
    background: #f2f6f7;
}

.test_line::before {
    content: '';
    background-color: #dddddd;
    position: absolute;
    top: 7%;
    left: 12%;
    transform: translateY(-50%);
    height: 4px;
    width: 75%;
    z-index: -1;
}

.step-line-pc:before {
    content: '';
    background-color: #dddddd;
    position: absolute;
    top: 8%;
    left: 17%;
    transform: translateY(-50%);
    height: 4px;
    width: 65%;
    z-index: -1;
}

.step_ios:before {
    content: '';
    background-color: #dddddd;
    position: absolute;
    top: 5%;
    right: -28%;
    transform: rotate(90deg) translateX(50%);
    height: 4px;
    width: 64%;
    z-index: -1;
}
