.Homepage {
    background: linear-gradient(180deg, #e6436d 0%, #65d2e9 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header {
}

.InputFiledHeaderText {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 120%;
    /* or 72px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.303241px;

    color: #ffffff;
}
